* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
}
body {
  background-color: #2e2f32;
  padding: 0.5rem;
}
#map {
  width: 70.25%;
  background: white;
  height: 100%;
}

.hide{
  width: 100%;
  height: 1rem;
  background: #ffffff;
  position: absolute;
  z-index: 10000;
  bottom: 0;

}
.suggestion-container{
  width: 70%;
  height: 70%;
  background: #2E2F32;
  border-radius: 0.5rem;
  box-shadow: inset 1px 1px 4px rgba(140, 140, 140, 0.25),
    inset -1px -1px 4px rgba(140, 140, 140, 0.25);
  position: absolute;
  top: 50%;           
  left: 50%;          
  transform: translate(-50%, -50%);
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  gap: 1rem;
  padding: 2rem; 
  padding-top: 3rem;
  display: none;
}
.cross{
  width: 1.5rem;
  position: absolute;
  top: 1rem;
  right: 2rem;
  cursor: pointer;
}
.suggestion-header{
  font-size: 1rem;
  width: 100%;
  color: whitesmoke;
  border: .1rem solid rgb(25, 155, 255);
  padding: .5rem;
  border-radius: .5rem;
  background: rgba(25, 155, 255, .3);
  
}
.suggestion-content-container{
  width: 100%;
  flex-grow: 1;
  overflow-y: scroll;
  overflow-x: hidden;
  color: rgb(232, 232, 232);
  background: rgba(79, 255, 79, .3);
  border-radius: .5rem;
  border: .1rem solid #4fff4f;
  padding: 1rem;

}
.suggestion-content-container::-webkit-scrollbar {
  width: 8px; 
}


.suggestion-content-container::-webkit-scrollbar-track {
  border-radius: 10px;
}

.suggestion-content-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;

}

.suggestion-content-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.suggestion-content{
  font-size: .9rem;
}
.header {
  background: #38393c;
  height: 6vh;
  width: 100%;
  border-radius: 0.5rem;
  box-shadow: inset 1px 1px 4px rgba(140, 140, 140, 0.25),
    inset -1px -1px 4px rgba(140, 140, 140, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.header-left {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.identity {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  color: white;
  margin-left: 1rem;
}
.title {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}
.team-name {
  color: rgb(170, 170, 170);
}

.menu {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.logo {
  height: 2rem;
  width: 2rem;
  margin-left: 0.5rem;
}
.project-name {
  font-size: 0.8rem;
  font-weight: 600;
  margin-left: 0.5rem;
}

.team-name {
  font-size: 0.6rem;
  font-weight: 600;
  margin-left: 1rem;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}
.menu div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: rgba(119, 216, 130, .4);
  width: 10rem;
  height: 70%;
  border: 1px solid #77d882;
  border-radius: 0.3rem;
  gap: 0.4rem;
  font-size: 0.8rem;
}
.sync-text{
  color: white;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
}
.area-text{
  color: white;
  font-size: .8rem;
  font-weight: 600;
  cursor: pointer;
}
.menu-logo {
  height: 1.2rem;
  margin-left: 0.5rem;
}
.header-right {
  background: rgba(25, 155, 255, 0.256);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin-right: 1rem;
  font-size: 0.8rem;
  color: white;
  height: 75%;
  font-weight: 600;
  padding-inline: 1rem;
  border-radius: 0.5rem;
  border: 1px solid rgb(25, 155, 255);
}
.header-right img {
  height: 1.2rem;
}
.container-1 {
  width: 100%;
  height: 57vh;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.container-2 {
  width: 100%;
  height: 32vh;
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.log {
  width: 29.25%;

  height: 100%;
  border-radius: 0.4rem;
  background: #38393c;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
}
.compass {
  width: 20.5%;
  height: 100%;
  border-radius: 0.4rem;
  background: #38393c;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.7rem;
}
.monitor {
  width: 50%;
  height: 100%;
  border-radius: 0.4rem;
  background: #38393c;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.grid-container {
  width: 29.5%;
  height: 100%;
  border-radius: 0.4rem;
  background: #38393c;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);

  display: grid;
  grid-template-columns: repeat(15, 1fr); 
  grid-template-rows: auto; 
  gap: .1rem;
  padding: .5rem;
}
.grid-item {
  background-color: #2E2F32;
  color: white;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);
  position: relative;
  cursor: pointer;
}
.tooltip {
  position: absolute;
  bottom: 100%; 
  left: 50%;
  transform: translateX(-100%);
  background-color: rgba(46, 47, 50, 0.8);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  visibility: hidden;
  opacity: 0; 
  transition: opacity 0.3s ease-in-out; 
  white-space: nowrap;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0.8rem;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
  inset -1px -1px 1px rgba(140, 140, 140, 0.25);
  gap: .5rem;
}
.left-content{
  font-size: .8rem;
}
.tooltips-el{
  color: #B4E3B1;
}
.tooltips-wat{
  color: #6DCEFF;
}
.tooltips-divider{
  width:.1rem;
  height: 4rem;
  background: #8F8F8F;
}
.right-content{
  background-color: rgba(109, 206, 255, .1);
  color: rgb(109, 206, 255);
  border: .1rem solid#6DCEFF;
  padding: .3rem;
  border-radius: .3rem;
  font-size: .8rem;
  cursor: pointer;
}

.grid-item:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.compass-logo {
  height: 80%;
  image-rendering: auto;
}
.compass-tick {
  top: 30%;
  height: 20%;
  image-rendering: auto;
  position: absolute;
  transition: transform 0.3s ease;
  transform-origin: bottom center;
}
.compass-container {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: #2e2f32;
  border-radius: 0.5rem;
  position: relative;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);
}
.top-row {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: .8rem;
}
.data-container {
  width: 12rem;
  height: 6rem;
  padding-right: 2rem;
  background: #2e2f32;
  border-radius: 0.5rem;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.data-icon {
  height: 3rem;
}
.data-icon.plant {
  height: 2.4rem;
}
.data {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.1rem;
}

.data-title {
  font-size: 0.7rem;
  color: #aaaaaa;
  font-weight: 600;
}
.data-value {
  font-size: 1.2rem;
  color: white;
  font-weight: 600;
}

.divider {
  width: 90%;
  height: 0.2rem;
  background: #2e2f32;
}
.data-title span {
  font-size: 0.7rem;
  color: white;
  font-weight: 500;
}

.log-title {
  width: 100%;
  font-size: .9rem;
  padding-top: .5rem;
  padding-left: 1rem;
  color: #e0e0e0;
  text-align: left;
}
.log-divider {
  width: 95%;
  height: 0.1rem;
  background: #8a8a8a;
}
.log-container {
  flex-grow: 1;
  margin-bottom: 0.5rem;
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  overflow-y: scroll;
  overflow-x: hidden;
  box-shadow: inset 1px 1px 1px rgba(140, 140, 140, 0.25),
    inset -1px -1px 1px rgba(140, 140, 140, 0.25);
  border-radius: 0.5rem;
  padding: 0.5rem;
  gap: 0.5rem;
}


.log-container::-webkit-scrollbar {
  width: 6px; 
}


.log-container::-webkit-scrollbar-track {
  background-color: #575757; 
  border-radius: 10px;
}

.log-container::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px;

}

.log-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}
.log-row {
  width: 100%;
  background: #2e2f32;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 0.25rem;
  padding-left: 0.6rem;
  border-radius: 0.5rem;
  padding-top: .8rem;
  padding-bottom: .8rem;
  cursor: pointer;
}
.log-data-top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
}
.log-data-title {
  font-size: 0.8rem;
  color: #ff6464;
  font-weight: 400;
  margin-left: 0.5rem;
}
.log-data-class {
  font-size: 0.8rem;
  color: white;
  font-weight: 400;
}

.log-data-middle {
  width: 95%;
  margin-left: 0.5rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 0.5rem;
  position: relative;
}
.log-data-location {
  font-size: 0.6rem;
  color: #b6b6b6;
  font-weight: 400;

}
.get-suggestion{
  position: absolute;
  right: 0;
  margin-left: .5rem;
  /* background-color: rgba(109, 206, 255, .1); */
  color: rgb(109, 206, 255);
  /* border: .1rem solid#6DCEFF; */
  padding: .2rem;
  border-radius: .2rem;
  font-size: .6rem;
  cursor: pointer;
}

.log-data-bottom {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 1rem;
  color: white;
}
.log-data-status {
  margin-left: 0.5rem;
  font-size: 0.5rem;
  color: #b4e3b1;
  font-weight: 400;
}
